<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<table border="1">
			
		<thead>
			<tr>
				<th colspan="24"><h3>SUPERINTENDENCIA NACIONAL DE EDUCACIÓN SUPERIOR UNIVERSITARIA</h3></th>
			</tr>
			<tr>
            	<th colspan="24"><h3>FORMATO DE LICENCIAMIENTO C</h3>
			</tr>
			<tr>
            	<th colspan="24"><h3>RELACIÓN DE DOCENTES</h3></th>
			</tr>
			<tr>
            	<td>Nombre de la Universidad:  UNIVERSIDAD NACIONAL DE JULIACA</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>data</td>
				<td>data</td>
				<td>data</td>
				<td>data</td>
				<td>data</td>
				<td>data</td>
				<td>data</td>
				<td>data</td>
				<td>data</td>
				<td>data</td>
				<td>data</td>
				<td>data</td>
				<td>data</td>
				<td>data</td>
			</tr>
		</tbody>
	</table>
</body>
</html>